@tailwind base;

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 45%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 60%);
}

h1 {
  @apply text-4xl mb-8 font-bold;
}

h2 {
  @apply text-2xl mt-12 mb-6 font-bold;
}

p {
  @apply mb-6 leading-relaxed;
}

ul {
  @apply list-disc list-inside mb-6;
}

.btn {
  @apply font-semibold py-2 px-4 rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-green {
  @apply bg-green-500 text-white focus:ring-green-400;
}
.btn-green:hover {
  @apply bg-green-700 focus:ring-green-400;
}

.btn-green-2 {
  @apply bg-green-200 text-green-700 focus:ring-green-400;
}
.btn-green-2:hover {
  @apply bg-green-300 focus:ring-green-400;
}

.btn-gray {
  @apply bg-gray-100 text-gray-500 focus:ring-gray-400;
}
.btn-gray:hover {
  @apply bg-gray-300 focus:ring-gray-400;
}

.form-label {
  @apply text-sm mb-2 text-gray-600 font-bold tracking-wider;
}

@tailwind components;

@tailwind utilities;
